.Under-img
  = image_tag src="/images/pict/bg-appBanner-pict.jpg", class: "Under-img__pict"
  .Under-img__in
    .Under-img__in--title
      だれでもかんたん、人生を変えるフリマアプリ
    .Under-img__in--text
      今すぐ無料ダウンロード！
    .Under-img__in--icon
      = link_to "#" do
        = image_tag src="/images/icon/appbtn.svg", class: "icon-app"
      = link_to "#" do
        = image_tag src="/images/icon/googlebtn.svg", class: "icon-google"
.Footer
  .Footer__left
    .Footer__left--title
      FURIMAについて
    .Footer__left--text
      = link_to "", class: "footer-link" do
        %p 会社概要（運営会社）
      = link_to "", class: "footer-link" do
        %p プライバシーポリシー
      = link_to "", class: "footer-link" do
        %p FURIMA利用規約
      = link_to "", class: "footer-link" do
        %p ポイントに関する特約
  .Footer__center
    .Footer__center--title
      FURIMAを見る
    .Footer__center--text
      = link_to "", class: "footer-link" do
        %p カテゴリー一覧
      = link_to "", class: "footer-link" do
        %p ブランド一覧
  .Footer__right
    .Footer__right--title
      ヘルプ＆ガイド
    .Footer__right--text
      = link_to "", class: "footer-link" do
        %p FURIMAガイド
      = link_to "", class: "footer-link" do
        %p FURIMAロゴ利用ガイドライン
      = link_to "", class: "footer-link" do
        %p お知らせ
  .Footer__logo
    .Footer__logo--img
      = image_tag src="/images/logo/logo-white.png", class: "Footer__logo--img"
    .Footer__logo--text
      .Footer__logo--text__c ©️
      .Footer__logo--text__name FURIMA