.body-main
  .Top-img
    = image_tag src="/images/pict/bg-mainVisual-pict_pc.jpg", class: "Top-img__pict"
    .Top-img__in
      .Top-img__in--title
        人生を変えるフリマアプリ
      .Top-img__in--text
        %p FURIMAはだれでもかんたんに出品・購入ができる
        %p フリマアプリです
      .Top-img__in--icon
        = link_to "#" do
          = image_tag src="/images/icon/appbtn.svg", class: "icon-app"
        = link_to "#" do
          = image_tag src="/images/icon/googlebtn.svg", class: "icon-google"
  .Reason
    .Reason__top
      .Reason__top--text
        FURIMAが選ばれる3つの理由
      .Reason__top--ber
    .Reason__img
      .Reason__img--left
        = image_tag src="/images/pict/pict-reason-01.jpg", class: "Reason__img--left__pict"
        .Number
          .Number__one 1
      .Reason__img--center
        = image_tag src="/images/pict/pict-reason-02.jpg", class: "Reason__img--center__pict"
        .Number
          .Number__two 2
      .Reason__img--right
        = image_tag src="/images/pict/pict-reason-03.jpg", class: "Reason__img--right__pict"
        .Number
          .Number__three 3
    .Reason__title
      .Reason__title--boldleft
        .Reason__title--boldleft__color 3分
        .Reason__title--boldleft__black ですぐに出品
      .Reason__title--boldcenter
        .Reason__title--boldcenter__color シンプル
        .Reason__title--boldcenter__black で使いやすい
      .Reason__title--boldright
        .Reason__title--boldright__black 手数料
        .Reason__title--boldright__color 業界最安
    .Reason__text
      .Reason__text--left
        スマホで入力するだけで簡単に出品できる！
      .Reason__text--center
        めんどくさい入力は必要なく、検索も購入もスムーズ！
      .Reason__text--right
        10%でお得に出品&購入！
  .Center-img
    = image_tag src="/images/pict/bg-topMiddleDl-pict.jpg", class: "Center-img__pict"
    .Center-img__in
      .Center-img__in--title
        会員数日本一位
      .Center-img__in--text
        %p FURIMAは、フリマアプリで最も人気。
        %p 出品・購入回数も業界最多です！
        %p ほしかったあの商品に出会えるかもしれません
      .Center-img__in--icon
        = link_to "#" do
          = image_tag src="/images/icon/appbtn.svg", class: "icon-app"
        = link_to "#" do
          = image_tag src="/images/icon/googlebtn.svg", class: "icon-google"
  .Feature
    .Feature__top
      .Feature__top--text
        FURIMAの特徴
      .Feature__top--ber
    .Feature__img
      .Feature__img--left
        = image_tag src="/images/icon/icon-01.png", class: "Feature__img--left__pict"
      .Feature__img--center
        = image_tag src="/images/icon/icon-03.png", class: "Feature__img--center__pict"
      .Feature__img--right
        = image_tag src="/images/icon/icon-04.png", class: "Feature__img--right__pict"
    .Feature__title
      .Feature__title--left
        簡単に売り買いできる
      .Feature__title--center
        売り上げは即日振込みに対応
      .Feature__title--right
        様々な支払いに対応
    .Feature__text
      .Feature__text--left
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .Feature__text--center
        午前9時までに振込みを依頼いただければ、翌日に指定の口座に入金いたします！
      .Feature__text--right
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .PickCategory
    .PickupCategory__text
      .PickCategory__text--title
        ピックアップカテゴリー
      .PickCategory__text--new
        = link_to "#", class: "PickCategory__text--new" do
          新規投稿商品
    .PickCategory__img
      - @items.each do |item|
        = link_to item_path(item.id) do
          .PickCategory__img--new
            = image_tag item.images[0].name.url, class: "PickCategory__img--new__images"
            .main-Label
              .main-Label__text
                .main-Label__text--name
                  = item.name
                .main-Label__text--price
                  = "#{item.price}円"
                .main-Label__text--tax （税込）
  .PickBrand
    .PickBrand__text
      .PickBrand__text--title
        ピックアップブランド
      .PickBrand__text--arc
        = link_to "#", class: "PickBrand__text--arc" do
          アーカイバ
    .PickBrand__img
      .PickBrand__img--new
        .PickBrand__img--new__images
        .main-Label-arc
          .main-Label-arc__text
            .main-Label-arc__text--name 商品名
            .main-Label-arc__text--price お値段円
            .main-Label-arc__text--tax （税込）
      .PickBrand__img--new
      .PickBrand__img--new
      .PickBrand__img--new
      .PickBrand__img--new