.body-main
  .Top-img
    = image_tag src="/assets/pict/bg-mainVisual-pict_pc.jpg", class: "Top-img__pict"
    .Top-img__in
      .Top-img__in--title
        人生を変えるフリマアプリ
      .Top-img__in--text
        %p FURIMAはだれでもかんたんに出品・購入ができる
        %p フリマアプリです
      .Top-img__in--icon
        .icon-link
        .icon-link.icon-link__2
  .Reason
    .Reason__top
      .Reason__top--text
        FURIMAが選ばれる3つの理由
      .Reason__top--ber
    .Reason__img
      .Reason__img--left
        = image_tag src="/assets/pict/pict-reason-01.jpg", class: "Reason__img--left__pict"
        .Number
          .Number__one 1
      .Reason__img--center
        = image_tag src="/assets/pict/pict-reason-02.jpg", class: "Reason__img--center__pict"
        .Number
          .Number__two 2
      .Reason__img--right
        = image_tag src="/assets/pict/pict-reason-03.jpg", class: "Reason__img--right__pict"
        .Number
          .Number__three 3
    .Reason__title
      .Reason__title--boldleft
        .Reason__title--boldleft__color 3分
        .Reason__title--boldleft__black ですぐに出品
      .Reason__title--boldcenter
        .Reason__title--boldcenter__color シンプル
        .Reason__title--boldcenter__black で使いやすい
      .Reason__title--boldright
        .Reason__title--boldright__black 手数料
        .Reason__title--boldright__color 業界最安
    .Reason__text
      .Reason__text--left
        スマホで入力するだけで簡単に出品できる！
      .Reason__text--center
        めんどくさい入力は必要なく、検索も購入もスムーズ！
      .Reason__text--right
        10%でお得に出品&購入！
  .Center-img
    = image_tag src="/assets/pict/bg-topMiddleDl-pict.jpg", class: "Center-img__pict"
    .Center-img__in
      .Center-img__in--title
        会員数日本一位
      .Center-img__in--text
        %p FURIMAは、フリマアプリで最も人気。
        %p 出品・購入回数も業界最多です！
        %p ほしかったあの商品に出会えるかもしれません
      .Center-img__in--icon
        .icon-link
        .icon-link.icon-link__2
  .Feature
    .Feature__top
      .Feature__top--text
        FURIMAの特徴
      .Feature__top--ber
    .Feature__img
      .Feature__img--left
        = image_tag src="/assets/icon/icon-01.png", class: "Feature__img--left__pict"
      .Feature__img--center
        = image_tag src="/assets/icon/icon-03.png", class: "Feature__img--center__pict"
      .Feature__img--right
        = image_tag src="/assets/icon/icon-04.png", class: "Feature__img--right__pict"
    .Feature__title
      .Feature__title--left
        簡単に売り買いできる
      .Feature__title--center
        売り上げは即日振込みに対応
      .Feature__title--right
        様々な支払いに対応
    .Feature__text
      .Feature__text--left
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .Feature__text--center
        午前9時までに振込みを依頼いただければ、翌日に指定の口座に入金いたします！
      .Feature__text--right
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .PickCategory
    .PickupCategory__text
      .PickCategory__text--title
        ピックアップカテゴリー
      .PickCategory__text--new
        新規投稿商品
    .PickCategory__img
      .PickCategory__img--new
        .Label
          .Label__text
            .Label__text--name 商品名
            .Label__text--price お値段円
            .Label__text--tax （税込）
      .PickCategory__img--new
      .PickCategory__img--new
      .PickCategory__img--new
      .PickCategory__img--new
  .PickBrand
    .PickBrand__text
      .PickBrand__text--title
        ピックアップブランド
      .PickBrand__text--arc
        アーカイバ
    .PickBrand__img
      .PickBrand__img--new
        .Label-arc
          .Label-arc__text
            .Label-arc__text--name 商品名
            .Label-arc__text--price お値段円
            .Label-arc__text--tax （税込）
      .PickBrand__img--new
      .PickBrand__img--new
      .PickBrand__img--new
      .PickBrand__img--new
  .Under-img
    = image_tag src="/assets/pict/bg-appBanner-pict.jpg", class: "Under-img__pict"
    .Under-img__in
      .Under-img__in--title
        だれでもかんたん、人生を変えるフリマアプリ
      .Under-img__in--text
        今すぐ無料ダウンロード！
      .Under-img__in--icon
        .icon-link
        .icon-link.icon-link__2
  .Footer
    .Footer__left
      .Footer__left--title
        FURIMAについて
      .Footer__left--text
        = link_to "", class: "footer-link" do
          %p 会社概要（運営会社）
        = link_to "", class: "footer-link" do
          %p プライバシーポリシー
        = link_to "", class: "footer-link" do
          %p FURIMA利用規約
        = link_to "", class: "footer-link" do
          %p ポイントに関する特約
    .Footer__center
      .Footer__center--title
        FURIMAを見る
      .Footer__center--text
        = link_to "", class: "footer-link" do
          %p カテゴリー一覧
        = link_to "", class: "footer-link" do
          %p ブランド一覧
    .Footer__right
      .Footer__right--title
        ヘルプ＆ガイド
      .Footer__right--text
        = link_to "", class: "footer-link" do
          %p FURIMAガイド
        = link_to "", class: "footer-link" do
          %p FURIMAロゴ利用ガイドライン
        = link_to "", class: "footer-link" do
          %p お知らせ
    .Footer__logo
      .Footer__logo--img
        = image_tag src="/assets/logo/logo-white.png", class: "Footer__logo--img"
      .Footer__logo--text
        .Footer__logo--text__c ©️
        .Footer__logo--text__name FURIMA