= render "indexes/header"
- breadcrumb :mypage

%main.usermypage

  .usermypage_top
    = render "layouts/breadcrumbs"


  .usermypage_contents

    = render "side-bar"

    .usermypage_main

      .usermypage_main_profile
        = image_tag 'member_photo_noimage_thumb.png', class: "mypage-p_img"
         
        .mypage_user-name #{current_user.nick_name}
        .mypage_user-count
          .evaluation
            .e-p 評価
            .e-b 2
          .listing
            .e-p 出品数
            .e-b 2
        
      .usermypage_main__info
        .usermypage_main__info_tab
          .tab-left お知らせ
          .tab-right やることリスト

        .userpege_main_info_111
          .info_111-menu
          .info_111-menu
          .info_111-menu
          .info_111-menu
          .info_111-menu
          .underpart 一覧を見る

      .usermypage_main__news
        .news-title 購入した商品

        .usermypage_main__news-1
          .tab-left 取引中
          .tab-right 過去の取引
          
        .usermypage_main__news-main
          .news-text 取引中の商品がありません

= render "indexes/footer"