.body
  .Top-bar
    .Top-bar__text
    = link_to "#", class: "Top-bar__link" do
      フリマ 
    .Top-bar__bold ＞
    .Top-bar__bold2商品名
  .Item
    .Item__title 商品名
    .Item__img
    .Item__little
      .Item__little--1
      .Item__little--2
      .Item__little--3
      .Item__little--4
    .Item__price ¥お値段円
    .Item__tax （税込） 送料込み
    .Buy-btn
      .Buy-btn__text 購入画面へ進む
    .Item__text
      %p 商品の説明をここに表示
      %p とりあえず何行か書いてみる
      %p わっふるわっふる
    %table.Table
      %tr
        %th.Table__title 出品者
        %td
          = link_to "#", class: "color" do
            出品者名
      %tr
        %th{rowspan: "1", class: "Table__title"} カテゴリー
        %td.category.category-top
          = link_to "#", class: "color" do
            カテゴリー名
        %td.category
          = link_to "#", class: "color" do
            >カテゴリー名2
        %td.category.category-bottom
          = link_to "#", class: "color" do
            >カテゴリー名3
      %tr
        %th.Table__title ブランド
        %td
          .Table__title--text ブランド名
      %tr
        %th.Table__title 商品の状態
        %td
          .Table__title--text 新品、未使用等