//商品購入確認ページのビューファイル
.AccountPage
  = render "items-show-header"

  .items-show-main
    .top
      購入内容の確認

    .middle-1 
      .middle-1__img
        = image_tag src="/images/icon/appbtn.svg", size: "80x80"
<<<<<<< HEAD
        -#= image_tag("#{@image.item[0].url}", size: "80x80")
=======
>>>>>>> bfb26a476329a7952ce62056b061929dcc02139a
      .middle-1__texts
        .middle-1__texts--item-name
          = @item.name
        .middle-1__texts--prices
          .fee
            送料込み（税込み）
          .price
            ¥
            = @item.price

    .middle-2
      .middle-2__text
        支払い金額
      .middle-2__price
        ¥
        = @item.price

    .middle-3
      .middle-3__text
        支払い方法
        -# ログインしているユーザーのクレジットカードが登録されていれば実行
      - if ::Credit.where(user_id: current_user.id).exists?
        登録済みのクレジットカード
        -# ログインしているユーザーのクレジットカードが登録されていなければ実行（new_credit_path:クレジットカード登録画面へのパス）
      - else
        = link_to new_credit_path, class: "middle-3__link" do
          = icon('fa', 'plus-circle')
          登録してください。

    .middle-4
      .middle-4__top
        .middle-4__top--text
          配送先
        = link_to "#", class: "middle-4__top--link" do
          変更する>
      .middle-4__bottom
        .middle-4__bottom--postal-code
          = @address.postcode
        .middle-4__bottom--address
          = @address.prefecture_id
          = @address.city
          = @address.block
          = @address.building
        .middle-4__bottom--user-name
          = current_user.last_name
          = current_user.first_name

    .bottom
      .bottom__message
        -# クレジットカード情報が有りかつ商品未購入状態かつ商品の出品者がログインユーザでない時
      - if @item.deal_state_id == 0 && @item.id != current_user.id
        - if ::Credit.where(user_id: current_user.id).exists?
          = form_tag(controller: :credits, action: :buy, method: :post) do
            %button 購入
          -# クレジットカード情報が無いが、商品未購入状態かつ商品の出品者がログインユーザでない時
        - else
          クレジットカードを登録してください
      - else
        購入できません（誰かが購入済みの商品もしくはあなたが出品した商品です）

  = render "items-show-footer"